@import "../../helpers/variable.scss";

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .messageTop {
        display: flex;
        .messageImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
            margin-top: 10px;
        }
        .info-message {
            overflow-wrap: break-word;
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
            border-radius: 20px;
            background-color: $gray-secondary;
            max-width: 300px;
            .messageText {
            color: black;

            }
        }
    }
    .messageBottom {
        font-size: 12px;
        margin-left: 60px;
    }
}
.message.own {
    align-items: flex-end;
    .messageTop {
        flex-direction: row-reverse;
        .messageImg {
            margin-left: 10px;
            margin-right: 0;
        }
        .info-message {
            overflow-wrap: break-word;
            background-color: $blue;
            .messageText {
            color: white;

            }
        }
    }
    .messageBottom {
        font-size: 12px;
        margin-right: 50px;
    }
}
